.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.day {
  flex-grow: 1;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayText {
  font-weight: 800;
  font-size: max(14px, min(10vw, 20vh));
  filter: blur(3px);
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: max(20px, 2vw);
  display: flex;
}

.progress {
  flex-grow: 1;
  margin: 0 24px;
}
