html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.colorTheme--default {
  background-color: #00bfd8;
  color: #ffea00;
}

.colorTheme--blackAndWhite {
  background-color: #000;
  color: #fff;
}

.popup-content {
  background: #fff;
  padding: 20px;
  /* margin: 20px; */
  border-radius: 16px;
}

/* Style for background behind an overlay */
.popup-overlay {
}
